*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    height: 70px;
    width: 100vw;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
}

.logo > img{
    height: 60px;
    width: 70px;
    border-radius: 20px;
    margin-left: 16.5px;
    margin-top: 1.5px;
}

.search {
    height: 40px;
    width: 550px;
    border-radius: 30px;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    width: 550px;
    border-radius: 30px;
    border: 0px;
    font-size: 18pt;
    padding: 20px;
}

.bar {
    height: 40px;
    width: 180px;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: darkblue;
    border: 1px black solid;
}

.acc {
    height: 40px;
    width: 40px;
    border-radius: 22px;
    margin-right: 20px;
    /* background-color: blue; */
    background-size: cover;
    background-image: url(https://i.pinimg.com/564x/da/c7/42/dac74201c8331886d895a05f1ccaa322.jpg);
}

.profile {
    height: 460px;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    color: white;
    border-bottom: 1px solid gainsboro;
    background-image: url(https://i.pinimg.com/236x/35/8c/af/358caf480f2eae116fa1393c492df74e.jpg);
}

.wadah {
    height: 200px;
    width: 200px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    letter-spacing: 2px;
}

.foto-profile{
    width: 105px;
    height: 105px;
    border-radius: 76px;
    /* background-color: blanchedalmond; */
    background-size: cover;
    background-image: url(https://i.pinimg.com/564x/da/c7/42/dac74201c8331886d895a05f1ccaa322.jpg);
}

.bakul {
    height: 70px;
    width: 500px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.count {
    width: 100px;
    height: 50px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    height: 80px;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 2px solid rgb(164, 163, 163);
}

.left {
    height: 78px;
    width: 500px;
    /* background-color: oldlace; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.right {
    height: 78px;
    width: 400px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.coin {
    height: 50px;
    width:  150px;
    /* background-color: salmon;s */
    font-size: 20pt;
    border-radius: 25px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.coin > h1 {
    font-size: 18pt;
    font-weight: 500;
}

button {
    border: 0px;
    font-size: 20pt;
    width: 30px;
}

.settings{
    height: 50px;
    width: 150px;
    /* background-color: violet; */
    font-size: 15pt;
    border-radius: 5px;
    border: 2px gainsboro solid;
    text-align: center;
    line-height: 50px;
    padding: 0px;
}

a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 15pt;
}

.about {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
}

.conversation {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
}

.following {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
    border-bottom: 5px solid rgb(157, 199, 197);
}

.below {
    width: 100vw;
    min-height: 60vh;
    /* background-color: darkblue; */
    padding: 20px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.card {
    height: 320px;
    width: 250px;
    background-color: antiquewhite;
    border: 1px solid gainsboro;
    border-radius: 6px;
}

.s1 {
    height: 110px;
    width: inherit;
    background-color: aqua;
    background-size: cover;
}

.s2{
    height: 140px;
    width: inherit;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.follow {
    height: 45px;
    width: 200px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(103, 103, 103);
    gap: 10px;
    font-size: 18px;
    font-weight: 550;
    align-items: center;
    border: 2px solid gainsboro;
}

.logoicon {
    height: 20px;
    width: 20px;
    background-color: salmon;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTqRZT2JCV90KbKUVSmUG7Q6qgUZMShy8-rMm4glbaZaqYTJ17);
}

.s3 {
    height: 70px;
    width: inherit;
    background-color: rgba(221, 254, 251, 0.721);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: rgb(63, 92, 92);
}

.b1 {
    height: inherit;
    width: 70px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b2 {
    height: inherit;
    width: 70px;
    /* background-color: paleturquoise; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b3 {
    height: inherit;
    width: 70px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.s4 {
    height: 100px;
    width: 100px;
    border-radius: 51px;
    background-color: purple;
    position: relative;
    bottom: 290px;
    left:  75px;
    background-size: cover;
}

.head1 {
    background-image: url(https://i.pinimg.com/236x/21/f6/7f/21f67f76b27a50b61c573376fd5d20da.jpg);
}

.prof1 {
    background-image: url(https://i.pinimg.com/236x/85/ba/22/85ba228be35358f6ff15a0f579dc98ad.jpg);
}

.head2 {
    background-image: url(https://i.pinimg.com/236x/de/ee/dc/deeedc0551ab5c92c7263d9941168c05.jpg);
}

.prof2{
    background-image: url(https://i.pinimg.com/474x/2a/c8/ab/2ac8ab903a172410a4c4ff54a76939a5.jpg);
}

.head3 {
    background-image: url(https://i.pinimg.com/236x/4f/e4/1a/4fe41ad9a9f807fcf03794fa358d5698.jpg);
}

.prof3{
    background-image: url(https://i.pinimg.com/236x/4b/04/8c/4b048c5d3d53e476f3a6b121a70f224e.jpg);
}

.head4 {
    background-image: url(https://i.pinimg.com/236x/ce/a7/7b/cea77beef97a78053f57dab23111dcbd.jpg);
}

.prof4{
    background-image: url(https://i.pinimg.com/236x/85/ed/80/85ed80cd85f271a8caabc79214c53b06.jpg);
}