*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    height: 70px;
    width: 100vw;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
}

.logo > img{
    height: 60px;
    width: 70px;
    border-radius: 20px;
    margin-left: 16.5px;
    margin-top: 1.5px;
}

.search {
    height: 40px;
    width: 550px;
    border-radius: 30px;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    width: 550px;
    border-radius: 30px;
    border: 0px;
    font-size: 18pt;
    padding: 20px;
}

.bar {
    height: 40px;
    width: 180px;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: darkblue;
    border: 1px black solid;
}

.acc {
    height: 40px;
    width: 40px;
    border-radius: 22px;
    margin-right: 20px;
    /* background-color: blue; */
    background-size: cover;
    background-image: url(https://i.pinimg.com/564x/da/c7/42/dac74201c8331886d895a05f1ccaa322.jpg);
}

.profile {
    height: 460px;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    color: white;
    border-bottom: 1px solid gainsboro;
    background-image: url(https://i.pinimg.com/236x/35/8c/af/358caf480f2eae116fa1393c492df74e.jpg);
}

.wadah {
    height: 200px;
    width: 200px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    letter-spacing: 2px;
}

.foto-profile{
    width: 105px;
    height: 105px;
    border-radius: 76px;
    /* background-color: blanchedalmond; */
    background-size: cover;
    background-image: url(https://i.pinimg.com/564x/da/c7/42/dac74201c8331886d895a05f1ccaa322.jpg);
}

.bakul {
    height: 70px;
    width: 500px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.count {
    width: 100px;
    height: 50px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    height: 80px;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 2px solid rgb(164, 163, 163);
}

.left {
    height: 78px;
    width: 500px;
    /* background-color: oldlace; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.right {
    height: 78px;
    width: 400px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.coin {
    height: 50px;
    width:  150px;
    /* background-color: salmon;s */
    font-size: 20pt;
    border-radius: 25px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.coin > h1 {
    font-size: 18pt;
    font-weight: 500;
}

button {
    border: 0px;
    font-size: 20pt;
    width: 30px;
}

.settings{
    height: 50px;
    width: 150px;
    /* background-color: violet; */
    font-size: 15pt;
    border-radius: 5px;
    border: 2px gainsboro solid;
    text-align: center;
    line-height: 50px;
    padding: 0px;
}

a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 15pt;
}

.about {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
    border-bottom: 5px solid rgb(157, 199, 197);
}

.conversation {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
}

.following {
    height: inherit;
    width:  150px;
    /* background-color: yellowgreen; */
    line-height: 80px;
    text-align: center;
}

.below {
    width: 100vw;
    min-height: 60vh;
    /* background-color: darkblue; */
    padding: 20px 150px;
}

.kiri {
    height: 250px;
    width: 300px;
    /* background-color: blueviolet; */
    float: left;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.kanan {
    min-height: 350px;
    width: 650px;
    /* background-color: yellow; */
    float: right;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.atas {
    height: calc(100% * 3/5);
    width: inherit;
    /* background-color: aqua; */
}

.atasatas{
    width: inherit;
    height: calc(100% * 4.5/6);
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 13pt;
}

.desc {
    height: 50px;
    width: 150px;
    background-color: rgb(157, 199, 197);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 12pt;
    color: white;
}

.join {
    height: calc(100% * 1.5/6);
    width: inherit;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    line-height: 9px;
    padding: 15px;
    border-bottom: 1px solid gainsboro;
}

.bawah {
    height: calc(100% * 2/5);
    width: inherit;
    /* background-color: beige; */
    padding: 15px;
}

.bawah > h4 {
    font-weight: 300;
}

.emot {
    height: 60px;
    width: 87%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.icon {
    height: 40px;
    width: 40px;
    border-radius: 26px;
    /* background-color: peru; */
    background-size: cover;
}

.facebook {
    background-image: url(https://i.pinimg.com/236x/05/76/fb/0576fb1d5e593f14ecf9675948a228f2.jpg);
}

.twitter {
    background-image: url(https://i.pinimg.com/236x/ce/5e/f2/ce5ef28aab74bee0fb0e0231eb97c301.jpg);
}

.pintrest {
    background-image: url(https://i.pinimg.com/236x/fd/1a/bb/fd1abbd7265ddc32bad0e3b166458130.jpg);
}

.tumblr {
    background-image: url(https://i.pinimg.com/564x/60/79/c5/6079c5e80350606b9f227e8cad5d43e8.jpg);
}

.message {
    background-image: url(https://i.pinimg.com/564x/9b/94/e5/9b94e561b665ad8be13aa5fcb1689424.jpg);
}

.bgatas {
    height: 85px;
    width: inherit;
    /* background-color: salmon; */
    padding: 15px;
    position: absolute;
}

.bar1 {
    height: 30px;
    width: 200px;
    background-color: gainsboro;
    border-radius: 3px;
}

.bar2 {
    height: 18px;
    width: 140px;
    background-color: gainsboro;
    margin-top: 10px;
    border-radius: 3px;
}

.bgbawah {
    height: 215px;
    width: inherit;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    position: relative;
    top: 100px;
}

.block {
    height: 240px;
    width: 120px;
    background-color: gainsboro;
    border-radius: 2px;
    margin-top: 20px;
}

.readlist {
    height: 50px;
    width: 200px;
    background-color: rgb(157, 199, 197);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    position: relative;
    bottom: 25px;
    left: 232px;
}